@{
  ViewBag.Title = "Form Prova";
  <script src="@Url.Content("~/static/js/provaFunctions.js")"></script>
  Layout = "~/Views/Shared/Base/_Layout.cshtml";
}
<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")
<div class="ui centered grid">
  <div class="row">
    <div class="two wide column">
      <form id="formMensagem" class="ui form">
        <div class="field">
          <label>Nome*:</label>
          <input type="text" id="nome" name="nome" placeholder="Nome" required>
        </div>
        <div class="field">
          <label>Email*:</label>
          <input type="text" id="emailForm" name="emailForm" placeholder="nome@provedor.com" required>
        </div>
        <div class="field">
          <label>Telefone*:</label>
          <input type="text" id="tel" name="tel" placeholder="00 0000-0000" required>
        </div>
        <div class="field">
          <label>Assunto*:</label>
          <input type="text" id="assunto" name="assunto" placeholder="Assunto..." required>
        </div>
        <div class="field">
          <label>Mensagem*:</label>
          <textarea id="mensagem" name="mensagem" placeholder="Gostaria de..." rows="5" required></textarea>
        </div>
        <div>
          <label>* Campo Obrigat&oacute;rio</label>
        </div>
        <button id="salvar" class="ui button">Salvar</button>
      </form>
      <button id="recuperar" class="ui button">Recuperar</button>
    </div>
    <div class="two wide column">
      <div class="field">
        <label>Nome</label>
        <p id="nomeMostra">
      </div>
      <div class="field">
        <label>Email</label>
        <p id="emailMostra">
      </div>
      <div class="field">
        <label>Telefone</label>
        <p id="telMostra">
      </div>
      <div class="field">
        <label>Assunto</label>
        <p id="assuntoMostra">
      </div>
      <div class="field">
        <label>Mensagem</label>
        <p id="mensagemMostra">
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#tel').mask('(00) 0000-0000');

    $('#nome').focusout(function (event) {
      setP('#nome', '#nomeMostra');
    });

    $('#emailForm').focusout(function (event) {
      if (validarEmail())
        setP('#emailForm', '#emailMostra');
    });

    $('#tel').focusout(function (event) {
      if (validarTel())
        setP('#tel', '#telMostra');
    });

    $('#assunto').focusout(function (event) {
      setP('#assunto', '#assuntoMostra');
    });

    $('#mensagem').focusout(function (event) {
      setP('#mensagem', '#mensagemMostra');
    });

    $('#formMensagem').submit(function (event) {
      event.preventDefault();
      if (validaCampos()) {
        salvarCampos();
        this.submit();
      }

    });

    $('#recuperar').click(function (event) {
      recuperarCampos();
    });
  });
</script>