@{
  ViewBag.Title = "Form Prova";
  Layout = "~/Views/Shared/Base/_Layout.cshtml";
}
<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")
<div class="ui container">
  <div class="ui equal width padded grid">
    <div class="row">
      <div class="column">
        <form id="formMensagem" class="ui form">
          <div class="field">
            <label>Nome:*</label>
            <input type="text" id="nome" name="nome" placeholder="Nome">
          </div>
          <div class="field">
            <label>Email:*</label>
            <input type="text" id="emailForm" name="emailForm" placeholder="nome@provedor.com">
          </div>
          <div class="field">
            <label>Telefone:*</label>
            <input type="text" id="tel" name="tel" placeholder="00 0000-0000">
          </div>
          <div class="field">
            <label>Assunto:*</label>
            <input type="text" id="assunto" name="assunto" placeholder="Assunto...">
          </div>
          <div class="field">
            <label>Mensagem:*</label>
            <textarea id="mensagem" name="mensagem" placeholder="Gostaria de..." rows="5"></textarea>
          </div>
          <div>
            <label>* Campo Obrigat&oacute;rio</label>
          </div>
          <button id="salvar" class="ui button">Salvar</button>
        </form>
        <button id="recuperar" class="ui button">Recuperar</button>
      </div>
      <div class="column">
        <div class="field">
          <label>Nome:</label>
          <p id="nomeMostra">
        </div>
        <div class="field">
          <label>Email:</label>
          <p id="emailMostra">
        </div>
        <div class="field">
          <label>Telefone:</label>
          <p id="telMostra">
        </div>
        <div class="field">
          <label>Assunto:</label>
          <p id="assuntoMostra">
        </div>
        <div class="field">
          <label>Mensagem:</label>
          <p id="mensagemMostra">
        </div>
      </div>
    </div>
  </div>
</div>